.container {
  position: relative;
}

.editField {
  width: 400px;
  padding-block: 0;
  padding-inline: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 87%);

  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.errorTip {
  user-select: none;

  position: absolute;
  z-index: 1000;
  top: -55px;
  left: 20px;

  width: 500px;
  padding: 10px 15px;

  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: white;

  background-color: black;
  border: 1px solid #646cff;
  border-radius: 4px;
  box-shadow: 0 0 50px #646cff;

  animation-name: slide-up-and-fade;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

}


@keyframes slide-up-and-fade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
