.editField {
  width: 90%;
  padding-block: 0;
  padding-inline: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 87%);

  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.tipContent {
  will-change: transform, opacity;
  user-select: none;

  z-index: 1000;

  padding: 10px 15px;

  font-size: 15px;
  line-height: 1;
  color: black;

  background-color: white;
  border-radius: 4px;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state="delayed-open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-state="delayed-open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-state="delayed-open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-state="delayed-open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}


@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}